* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Jersey 10", sans-serif;

    display: flex;
    flex-direction: column;
}

.header {
    padding: 0.5rem;
    box-shadow: 4px 4px 4px navy;
}

.header h1, .header span {
    text-align: center;
    letter-spacing:4px;
    font-size: min(6vw, 2rem);
}

.red {
    color: red;
}

.blue {
    color: navy;
}

.lightblue {
    color: blue;
}

.green {
    color: green;
}

.footer {
    background-color: navy;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

.main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.grid {
    height: 60vh;
    border: 2px solid black;
    width: clamp(280px, 90vw, 500px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid .square {
    border: 2px solid gray;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.cross {
    background: url(img/yubblue-min.jpg);
}

.circle {
    background: url(img/tanred-min.jpg);
}

.cross,
.circle {
    width: 100%;
    flex-grow: 1;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    animation: shake 0.5s ease-in-out forwards infinite;
    outline: none;
}

.gameContext {
    font-size: 4vw;
}

@keyframes shake {
    0% {
        rotate: -7deg;
    }
    50% {
        rotate: 7deg;
    }
    100% {
        rotate: -7deg;
    }
}

@media screen and (max-width: 800px) {
    .gameContext {
        font-size: 7vw;
    }

    * {
        font-size: 14px;
    }
}